/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Comic Sans MS";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*
@font-face {
    font-family: "Coca Cola ii";
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    src: local("?"), url("../fonts/cocacola/cocacolaii.woff") format("woff"), url("../fonts/cocacola/cocacolaii.ttf") format("truetype");
}
*/
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*{
    font-size: 12pt;
    font-family: "Comic Sans MS";


}
h1,h2,h4, h5{
    font-weight: bold;
    font-style: italic;


}
h1{
    margin: 40px auto;
    font-size: 750%;
    text-align: center;
    font-family: "Comic Sans MS";
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}
h2{
    font-size: 120%;
}
h3{
    font-size: 110%;
}
nav{
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    height: 38px;
    width: 100%;
}
#wrapper{
    position: relative;
    top:38px;
}

/* colorzilla */
nav  {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0); /* IE6-9 */
    width: 100%;
}
nav ul li{
    padding: 10px 30px;
    float: left;
    border-color:blue;
    border-width:1px;
    border-style: solid;
    border-radius: 10px;
    margin: 0 auto;
}
nav ul li:hover a{
    color: #050018;
}

body{
    max-width: 1024px;
    margin: 0 auto;
}
#wrapper > header{
    width: 100%;
    margin: 0 auto;
}
ul{
    width: 800px;
    margin: 0 auto;
}
p{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px;
    text-align: justify;
}
#presentacion{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/

}
#productos{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/

}
#acerca_de{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/

    text-decoration-color: floralwhite;
}
#localización{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/

}
#contacto {
    background-color:pink;
    font-family: "Franklin Gothic Book";
    text-decoration-color: floralwhite;
}
img {
    width: 220px;
    height: 250px;
    display: block;
    margin: 0 auto;
    padding-toptop: 5px;
    padding-bottom: 35px;
}
.left {
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
    text-align: right;
}
/*
ul:last-child{
    float:none !important;
    clear:both;
    width: 0;
}
.clb{
    clear:both;
}
*/
.clearfix:before, .clearfix:after {content:"";display:table; }
.clearfix:after{clear:both}